
body{
    background-image: url("clear.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    

}

#container-container{
    display: flex;
    justify-content: center;
    
}

#grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    width: 320px;
    border: 30px ridge grey;
    margin: 4em;
    background-image: url("slate.jpg");

}

#reset-button {
    margin: 6em;
    background-image: url("magma.webp");
    color: blue;
    
}

.cell{
    box-sizing: border-box;
}

.hover{
    background-color: rgb(223, 74, 74);
    box-sizing: border-box;
}