
#container-container{
    display: flex;
    justify-content: center;
    
}

#grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    width: 320px;
    border: 30px ridge grey;
    margin: 4em;
}

#reset-button {
    margin: 6em;
}

.cell{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    /* border:0.1px solid rgb(17, 19, 173); */
}

.hover{
    background-color: rgb(83, 76, 76);
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    /* border:0.1px solid rgb(17, 19, 173);   */
}