
body{
    background-image: url("clear.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    

}

#container-container{
    display: flex;
    justify-content: center;
    
}

#grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    width: 320px;
    border: 30px ridge grey;
    margin: 4em;
    background-image: url("slate.jpg");

}

#reset-button {
    margin: 6em;
    background-image: url("magma.webp");
    color: blue;
    border: 5px ridge rgb(156, 90, 241);

    
}

#brick-button {
    margin: 6em;
    background-image: url("brick.jpg");
    color: blue;
    border: 5px ridge rgb(109, 40, 40);

    
}

#fire-button {
    margin: 6em;
    background-image: url("fire.jpg");
    color: blue;
    border: 5px ridge brown;

    
}

#ice-button {
    margin: 6em;
    background-image: url("ice.jpg");
    color: blue;
    border: 5px ridge rgb(177, 177, 177);

    
}

.cell{
    box-sizing: border-box;
}

.brick{
    background-image: url("brick.jpg") ;
    box-sizing: border-box;
}

.fire{
    background-image: url("fire.jpg") ;
    box-sizing: border-box;
}

.ice{
    background-image: url("ice.jpg") ;
    box-sizing: border-box;
}


